<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-16"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The King · Live</title>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header class="<%= if in_game?(@conn), do: "in-game" %>">
      <section>
        <a href="#" class="logo">
          <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="King of Tokyo"/>
        </a>
      </section>
      <section class="menu">
        <%= link("Leave", to: Routes.game_path(@conn, :leave), class: "button button-outline") %>
        <a id="copy-link" href="#" class="button button-secondary">Copy Link</a>
      </section>
    </header>
    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
