# vi: ft=systemd

[Unit]
Description={{ app_name }}
After=network.target

[Service]
User={{ username }}
Type=simple
Environment=MIX_ENV=prod
WorkingDirectory=/home/{{ username }}/app_release/{{ project_name }}
ExecStart=/bin/bash -c 'source /home/{{ username }}/{{ app_name }}.env && /home/{{ username }}/app_release/{{ project_name }}/bin/{{ project_name }} foreground'
ExecStop=/bin/bash -c 'source /home/{{ username }}/{{ app_name }}.env && /home/{{ username }}/app_release/{{ project_name }}/bin/{{ project_name }} stop'

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
