# vi: ft=systemd

[Unit]
Description={{ app_name }}
After=network.target

[Service]
User={{ username }}
Restart=on-failure

Type=forking
Environment=MIX_ENV=prod
EnvironmentFile= "/home/{{ username }}/{{ app_name }}.env"
ExecStart= /home/deploy/app_release/king_of_tokyo/bin/king_of_tokyo start
ExecStop= /home/deploy/app_release/king_of_tokyo/bin/king_of_tokyo stop

[Install]
WantedBy=multi-user.target
