/* This file is for your main application css. */

@import './phoenix.css';

@import '../node_modules/nprogress/nprogress.css';
@import '../node_modules/notyf/notyf.min.css';

$breakpoint-tablet: 414px;
$card-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
$component-background: rgba(255, 255, 255, 0.8);

body {
  background: url('../static/images/tile.png');
}

header {
  background: none;
  display: flex;
  max-width: 104rem;
  padding: 0 2rem;
  margin: 2rem auto;

  &:not(.in-game) {
    max-width: 80rem;
  }

  &.in-game .menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
      display: block;
      margin-right: 1rem;
    }
  }

  .menu {
    display: none;
  }

  .logo img {
    width: 24rem;
  }
}

textarea,
input[type='text'],
input[type='number'] {
  background: white;
}

/* prettier-ignore */
select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') no-repeat center right, white;
}

.button-danger {
  background-color: #a94442;
  border-color: #a94442;

  &.button-clear,
  &.button-outline {
    background-color: transparent;
    color: #a94442;
  }

  &.button-clear {
    border-color: transparent;
  }
}

.game-container {
  display: flex;
  justify-content: center;
}

#player-list {
  border-radius: 0.5rem;
  height: max-content;
  margin-left: 2rem;
  padding: 1rem;

  .player {
    background: url('../static/images/player-card.svg'), $component-background no-repeat;
    background-position: 0.8rem;
    border-radius: 1.5rem;
    box-shadow: $card-shadow;
    padding: 1rem;
    width: 28rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;

    > div {
      margin-bottom: 1rem;
    }

    .character {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
    }

    .stats {
      display: flex;

      > div {
        margin-left: 2rem;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;

        img {
          height: 2rem;
          margin-right: 0.5rem;
        }

        span {
          display: block;
          padding-top: 0.2rem;
        }
      }
    }

    .tokyo-status {
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.chat-container {
  &.visible {
    background: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  button.chat-button {
    align-items: center;
    border-radius: 50%;
    bottom: 0;
    display: flex;
    height: 5rem;
    justify-content: center;
    position: fixed;
    right: 2rem;
    width: 5rem;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px;

    img {
      width: 4rem;
      position: fixed;
    }
  }

  .chat-popover {
    background: white;
    border-radius: 2rem;
    border: solid 1px lightgray;
    bottom: 7rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
    position: fixed;
    right: 2rem;
    width: 50rem;

    form {
      display: flex;
      border-top: 1px solid lightgray;
      margin: 0;

      textarea {
        border: none;
        border-radius: 2rem;
        resize: none;
        margin: 0;
        padding: 1rem 1rem 0.2rem 1rem;
        font-family: 'Helvetica';
      }

      button {
        align-items: center;
        border-radius: 50%;
        border: 1px transparent;
        box-sizing: border-box;
        display: flex;
        height: 4rem;
        justify-content: center;
        margin-right: 1rem;
        margin-top: 1rem;
        width: 4rem;
        padding: 0;

        img {
          width: 2rem;
        }
      }
    }

    .history {
      background: #fff;
      border-radius: 2rem 2rem 0 0;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 21px 4px -20px inset;
      padding: 1rem;
      height: 50rem;
      overflow: scroll;

      .message-group {
        margin-bottom: 1rem;

        .messages {
          display: flex;
          flex-direction: column;
        }

        &.from-me {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .messages {
            align-items: flex-end;
          }

          .body,
          .sender {
            background: #348cff;
            color: #fff;
          }

          .body {
            margin-right: 1rem;
            width: max-content;
          }
        }

        &:not(.from-me) {
          .messages {
            align-items: flex-start;
          }

          .body,
          .sender {
            background: #d8d8d8;
            color: #000;
          }

          .body {
            margin-left: 1rem;
          }
        }

        .body {
          border-radius: 2rem;
          display: inline-block;
          margin-bottom: 0.2rem;
          padding: 0.5rem 1rem;
        }

        .sender {
          width: 3.5rem;
          height: 3.5rem;
          line-height: 3rem;
          align-items: center;
          border-radius: 50%;
          display: flex;
          font-weight: bold;
          justify-content: center;
          padding-top: 0.3rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.lobby-container {
  label {
    max-width: 40rem;
  }

  .generate-code-container button {
    @media (min-width: $breakpoint-tablet) {
      margin-top: 2.5rem;
    }
  }

  .player-details {
    display: flex;

    label {
      margin-right: 1rem;
    }
  }
}

.player-card {
  background: $component-background;
  border-radius: 2rem;
  box-shadow: $card-shadow;
  padding: 2.3rem;
  margin: 0.8rem 0 1rem 0;

  form {
    min-width: 65rem;
  }

  input[type='number'] {
    max-width: 5rem;
  }

  .stats {
    display: flex;
    justify-content: space-between;

    > div {
      align-items: center;
      display: flex;
    }

    img {
      margin-right: 0.8rem;
      margin-top: -1.25rem;
    }

    img.points {
      filter: invert(22%) sepia(100%) saturate(763%) hue-rotate(358deg)
        brightness(92%) contrast(88%);
    }

    img.health {
      filter: invert(39%) sepia(83%) saturate(413%) hue-rotate(314deg)
        brightness(96%) contrast(87%);
    }

    img.energy {
      filter: invert(68%) sepia(66%) saturate(5788%) hue-rotate(160deg)
        brightness(93%) contrast(104%);
    }
  }
}

.dice-roll {
  background: $component-background;
  border-radius: 2rem;
  box-shadow: $card-shadow;
  padding: 2rem;

  form {
    align-items: center;
    display: flex;

    * {
      margin-bottom: 0;
    }

    button {
      margin-left: 1rem;
    }

    input[name='dice_count'] {
      width: 6rem;
    }
  }

  .roll-count {
    display: flex;
    align-items: center;
    margin: 0 1rem;

    > div:first-child {
      font-weight: bold;
      margin-right: 1rem;
    }
  }
}

.dice {
  display: flex;
}

.die {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 8rem;
  margin-right: 1rem;
  width: 8rem;

  &.selected {
    border: 3px solid gold;
    border-radius: 0.8rem;
  }

  &.claw.black {
    background-image: url('../static/images/dice/black/claw.svg');
  }

  &.heart.black {
    background-image: url('../static/images/dice/black/heart.svg');
  }

  &.energy.black {
    background-image: url('../static/images/dice/black/energy.svg');
  }

  &.one.black {
    background-image: url('../static/images/dice/black/one.svg');
  }

  &.two.black {
    background-image: url('../static/images/dice/black/two.svg');
  }

  &.three.black {
    background-image: url('../static/images/dice/black/three.svg');
  }

  &.claw.green {
    background-image: url('../static/images/dice/green/claw.svg');
  }

  &.heart.green {
    background-image: url('../static/images/dice/green/heart.svg');
  }

  &.energy.green {
    background-image: url('../static/images/dice/green/energy.svg');
  }

  &.one.green {
    background-image: url('../static/images/dice/green/one.svg');
  }

  &.two.green {
    background-image: url('../static/images/dice/green/two.svg');
  }

  &.three.green {
    background-image: url('../static/images/dice/green/three.svg');
  }
}
