/* This file is for your main application css. */

@import "./phoenix.css";

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.button.danger {
  background-color: #a94442;
  border: none;
}

.logo img {
  width: 8rem;
}

.player-card form {
  display: flex;
  justify-content: space-between;
}

.dice-roll form {
  display: flex;
}

.dice-roll button {
  margin-left: 1rem;
}

.dice {
  display: flex;
}

.die {
  margin-right: 1rem;
  height: 8rem;
  width: 8rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.die.selected {
  border: 3px solid gold;
  border-radius: 0.8rem;
}

.die.claw.black {
  background-image: url('/images/dice/black/claw.svg');
}

.die.heart.black {
  background-image: url('/images/dice/black/heart.svg');
}

.die.lightning.black {
  background-image: url('/images/dice/black/lightning.svg');
}

.die.one.black {
  background-image: url('/images/dice/black/one.svg');
}

.die.two.black {
  background-image: url('/images/dice/black/two.svg');
}

.die.three.black {
  background-image: url('/images/dice/black/three.svg');
}


.die.claw.green {
  background-image: url('/images/dice/green/claw.svg');
}


.die.heart.green {
  background-image: url('/images/dice/green/heart.svg');
}


.die.lightning.green {
  background-image: url('/images/dice/green/lightning.svg');
}


.die.one.green {
  background-image: url('/images/dice/green/one.svg');
}


.die.two.green {
  background-image: url('/images/dice/green/two.svg');
}


.die.three.green {
  background-image: url('/images/dice/green/three.svg');
}
