/* This file is for your main application css. */

@import './phoenix.css';

@import '../node_modules/nprogress/nprogress.css';

.button-danger {
  background-color: #a94442;
  border-color: #a94442;

  &.button-clear,
  &.button-outline {
    background-color: transparent;
    color: #a94442;
  }

  &.button-clear {
    border-color: transparent;
  }
}

.logo img {
  width: 8rem;
}

.game-container {
  display: flex;
}

header .container,
main.container {
  max-width: 80%;
}

#player-list {
  border: solid 1px #6a6f79;
  border-radius: 0.5rem;
  height: max-content;
  margin-left: 2rem;
  padding: 1rem;

  .player {
    border: solid 1px #6a6f79;
    border-radius: 0.5rem;
    box-shadow: 0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.2);
    padding: 1rem;
    min-width: 20rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

button.chat-button {
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  display: flex;
  height: 5rem;
  justify-content: center;
  position: fixed;
  right: 2rem;
  width: 5rem;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px;

  img {
    width: 4rem;
    position: fixed;
  }
}

.chat-container {
  border-radius: 2rem;
  border: solid 1px lightgray;
  bottom: 7rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
  display: none;
  position: fixed;
  right: 2rem;
  width: 50rem;

  &.visible {
    display: block;
  }

  form {
    display: flex;
    border-top: 1px solid lightgray;
    margin: 0;

    textarea {
      border: none;
      resize: none;
      margin: 0;
      padding: 1rem 1rem 0.2rem 1rem;
      font-family: 'Helvetica';
    }

    button {
      align-items: center;
      border-radius: 50%;
      border: 1px transparent;
      box-sizing: border-box;
      display: flex;
      height: 4rem;
      justify-content: center;
      margin-right: 1rem;
      margin-top: 1rem;
      width: 4rem;
      padding: 0;

      img {
        width: 2rem;
      }
    }
  }

  .history {
    background: #fff;
    border-radius: 2rem 2rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 21px 4px -20px inset;
    padding: 1rem;
    height: 50rem;
    overflow: scroll;

    .message {
      margin-bottom: 1rem;

      &.from-me {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .body,
        .sender {
          background: #348cff;
          color: #fff;
        }

        .body {
          margin-right: 1rem;
        }
      }

      &:not(.from-me) {
        .body,
        .sender {
          background: #d8d8d8;
          color: #000;
        }

        .body {
          margin-left: 1rem;
        }
      }

      .body {
        border-radius: 2rem;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
      }

      .sender {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        align-items: center;
        border-radius: 50%;
        display: flex;
        font-weight: bold;
        justify-content: center;
        padding-top: 0.25rem;
      }
    }
  }
}

.lobby-container {
  label {
    max-width: 40rem;
  }

  .game-code-field {
    display: flex;

    button {
      margin-left: 1rem;
    }
  }

  .player-details {
    display: flex;

    label {
      margin-right: 1rem;
    }
  }
}

.player-card {
  form {
    min-width: 65rem;
  }

  input[type='number'] {
    max-width: 5rem;
  }
}

.dice-roll {
  form {
    align-items: center;
    display: flex;

    * {
      margin-bottom: 0;
    }

    button {
      margin-left: 1rem;
    }

    input[name='dice_count'] {
      width: 6rem;
    }
  }

  .roll-count {
    display: flex;
    align-items: center;
    margin: 0 1rem;

    > div:first-child {
      font-weight: bold;
      margin-right: 1rem;
    }
  }
}

.dice {
  display: flex;
}

.die {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 8rem;
  margin-right: 1rem;
  width: 8rem;

  &.selected {
    border: 3px solid gold;
    border-radius: 0.8rem;
  }

  &.claw.black {
    background-image: url('/images/dice/black/claw.svg');
  }

  &.heart.black {
    background-image: url('/images/dice/black/heart.svg');
  }

  &.energy.black {
    background-image: url('/images/dice/black/energy.svg');
  }

  &.one.black {
    background-image: url('/images/dice/black/one.svg');
  }

  &.two.black {
    background-image: url('/images/dice/black/two.svg');
  }

  &.three.black {
    background-image: url('/images/dice/black/three.svg');
  }

  &.claw.green {
    background-image: url('/images/dice/green/claw.svg');
  }

  &.heart.green {
    background-image: url('/images/dice/green/heart.svg');
  }

  &.energy.green {
    background-image: url('/images/dice/green/energy.svg');
  }

  &.one.green {
    background-image: url('/images/dice/green/one.svg');
  }

  &.two.green {
    background-image: url('/images/dice/green/two.svg');
  }

  &.three.green {
    background-image: url('/images/dice/green/three.svg');
  }
}
