server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;
  server_name theking.live;
  # return 301 https://theking.live$request_uri;

  location / {
    proxy_pass http://localhost:4000;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_buffering off;
  }
}

# server {
#   # Main Config
#   ssl on;
#   listen 443 ssl http2;
#   server_name theking.live;
#   root /home/{{username}}/theking/current/public;
# 
#   # HSTS
#   add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
# 
#   # Secure Headers
#   add_header X-Frame-Options DENY;
#   add_header X-XSS-Protection "1; mode=block";
#   add_header X-Content-Type-Options nosniff;
#   add_header X-Permitted-Cross-Domain-Policies none;
# 
#   # TLS
#   ssl_session_cache shared:SSL:20m;
#   ssl_session_timeout 10m;
#   ssl_certificate     /etc/letsencrypt/live/theking.live/fullchain.pem;
#   ssl_certificate_key /etc/letsencrypt/live/theking.live/privkey.pem;
#   ssl_protocols      TLSv1 TLSv1.1 TLSv1.2;
#   ssl_prefer_server_ciphers on;
#   ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:!DH+3DES:!ADH:!AECDH:!MD5;
# 
#   location / {
#     gzip_static on;
#     try_files $uri /frontend/$uri /frontend/index.html;
# 
#     #add_header Cache-Control public;
#     #expires 4w;
#     gzip on;
#     gzip_vary on;
#     gzip_proxied any;
#     gzip_disable "MSIE [1-6]\.";
#     gzip_comp_level 6;
#     gzip_types application/javascript application/x-javascript text/css image/x-icon image/png image/jpeg image/gif;
#   }
# 
#   client_max_body_size 4G;
#   keepalive_timeout 10;
# }
# 
# server {
#   # Main Config
#   ssl on;
#   listen 443 ssl http2;
#   passenger_enabled on;
#   server_name theking.live;
#   # TODO: CHANGEME to where the public dir is
#   root /home/{{ username }}/theking/current/public;
# 
#   # HSTS
#   add_header Strict-Transport-Security "max-age=31536000" always;
# 
#   # Secure Headers
#   add_header X-Frame-Options DENY;
#   add_header X-XSS-Protection "1; mode=block";
#   add_header X-Content-Type-Options nosniff;
#   add_header X-Permitted-Cross-Domain-Policies none;
# 
#   # TLS
#   ssl_session_cache shared:SSL:20m;
#   ssl_session_timeout 10m;
#   ssl_certificate     /etc/letsencrypt/live/theking.live/fullchain.pem;
#   ssl_certificate_key /etc/letsencrypt/live/theking.live/privkey.pem;
#   ssl_protocols      TLSv1 TLSv1.1 TLSv1.2;
#   ssl_prefer_server_ciphers on;
#   ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:!DH+3DES:!ADH:!AECDH:!MD5;
# 
#   location ~ ^/assets/ {
#     gzip_static on;
# 
#     add_header Cache-Control public;
#     expires 4w;
#     gzip on;
#     gzip_vary on;
#     gzip_proxied any;
#     gzip_disable "MSIE [1-6]\.";
#     gzip_comp_level 6;
#     gzip_types application/x-javascript text/css image/x-icon image/png image/jpeg image/gif;
#   }
# 
# 
#   error_page 500 502 504 /500.html;
# 
#   if (-f $document_root/maintenance) {
#     return 503;
#   }
# 
#   error_page 503 @maintenance;
#   location @maintenance {
#     more_set_headers "Access-Control-Allow-Origin: *";
#     more_set_headers "Access-Control-Allow-Credentials: true";
#     more_set_headers "Access-Control-Allow-Methods: GET, POST, OPTIONS";
#     more_set_headers "Access-Control-Allow-Headers: DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type";
#     rewrite ^(.*)$ /503.html;
#     return 200;
#   }
# 
#   client_max_body_size 4G;
#   keepalive_timeout 10;
# 
# }
# 
