---
- hosts: application

  gather_facts: no
  remote_user: root

- name: Configure Machine Login
  import_playbook: playbooks/configure-login.yml

- name: Install Packages
  import_playbook: playbooks/install-packages.yml

- name: Application Deployment Setup
  import_playbook: playbooks/application-deployment-setup.yml

- name: Setup Nginx
  import_playbook: playbooks/nginx.yml

- name: Let's Encrypt SSL Setup
  import_playbook: playbooks/lets-encrypt.yml
